body{
    font-family: Arial,Times New Roman,melvetica,Arial;
}
header {
        background-color: skyblue;
        border:2px solid black;
}

#main{
	border: 5px solid #555;
}
#main label {
      font-weight: bold;
}